*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:whitesmoke;
}
ul
{
    list-style: none;
    display: flex; /*flex box , melhor que table*/
    justify-content: center;
    color:black; 
    
    
}
/* Tornar minha lista horizontal*/
ul li
{
    display: flex;
    justify-content: center;
    padding: 0%; /* padding espaços internos da tag ,porcentagem orna com responsividade*/
    margin:5px;
}
ul li a{
    color: black;
}

.center{
    display: flex;
    justify-content: center;
    margin: 20px;
    
  
    
}
.center 
div{
    justify-content: center;
    }
p{
    text-align: justify;
    padding: 20px;
}
.titulo{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;

}

    
}
.center2
{
    justify-content: center;
}
.redondo
{
    border-radius: 50%;
}
p{
    color: black;
}
.h1
{
    display: flex;
    justify-content: center;
    
}
.fotos
{
    display: flex;
    margin: 10%;
    padding: 10px;
    margin-top: 10;
}
.card
{
    display: flex;
    margin: ;
    padding: 10px;
}
footer
{
    display: flex;
    justify-content: center;
}
